:root {
  --font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
  --heading-font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
  --d-font-family--monospace:
    ui-monospace, "SFMono-Regular", "Menlo", "Monaco", "Consolas", monospace;
}
